<div class="contact-section ">
  <div>
    <div class="row align-items-center email">
      <div class="col text-center text-md-start">
        <h6>Email us</h6>
        <a href="info@reg.ril.com" target="_blank">
          <p>info&#64;reg.ril.com</p>
        </a>
      </div>
      <div class="col d-flex justify-content-center justify-content-md-end">
        <img src="../../assets/imgs/email-us.png" />
      </div>
    </div>
  </div>
  <div class="row align-items-center call">
    <div class="col text-center text-md-start">
      <h6>Call us</h6>
      <p>9890 123456</p>
    </div>
    <div class="col d-flex justify-content-center justify-content-md-end">
      <img src="../../assets/imgs/call-us.png" />
    </div>
  </div>
</div>