.footer {
    background: #D1DDF3;
    p {
        color: #000000A6;
        font: JioType;
        font-weight: 500;
        font-size: 12px;
        align-items: center;
        justify-content: center;
    }
}