reg-role{
  h6{
    font-family:" JioType";
font-size: 17px;
font-weight: 700;
line-height: 17px;
letter-spacing: -0.05em;
text-align: left;
color: #E0A86C;

  }
  span{
    font-family: "JioType";
font-size: 13px;
font-weight: 400;
line-height: 17px;
letter-spacing: -0.05em;
text-align: left;
color: white;
  }
}


.card-title{
  font-family: "JioType" ;
  color: white;
font-size: 22px;
font-weight: 500;
line-height: 25.81px;
letter-spacing: -0.05em;
text-align: left;

}


.title-underline{
  background-color: #FFFFFF;
  width: 30px;
  height: 2px;
  border-radius: 8px;
  margin-bottom: 16px;
}

.card-para{
  font-family: "JioType";
font-size: 15px;
font-weight: 400;
line-height: 20px;
letter-spacing: -0.05em;
text-align: left;
color: white;
}


.ticker{background-color: #3045C1;

  margin-top: 29px;
  margin-bottom: 29px;
  border: solid 1px #3F53CE;
  marquee{
    span{
    font-family: "JioType";
font-size: 16px;
font-weight: 400;
line-height: 20px;
letter-spacing: -0.05em;
text-align: left;
color: #F7C763;

    }
    padding: 18px 15px ;
  }
}


.hero-text p{
  margin: 0px;
  font-family: "JioType";
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: -0.05em;
  text-align: left;
  color: #FFFFFF;

}
.hero-text h1{
  color: #DEAA62;
  margin: 0px;
  font-family: "JioType";
font-size: 59px;
font-weight: 700;
line-height: 65px;
letter-spacing: -0.04em;
text-align: left;

}

.card-title h1{
  font-family: "JioType";
font-size: 22px;
font-weight: 500;
line-height: 25.81px;
letter-spacing: -0.05em;
text-align: left;
margin-bottom: 3px;

}


.reg-role{

  h6{
    font-family: "JioType";
font-size: 17px;
font-weight: 700;
line-height: 17px;
letter-spacing: -0.05em;
text-align: left;
color: #E0A86C;
margin: 2px;


  }
  span{
    font-family: "JioType";
font-size: 16px;
font-weight: 400;
line-height: 17px;
letter-spacing: -0.05em;
text-align: left;
color: white;

  }

}
