<div>
  <div class="hero-text">
    <p>Welcome to</p>
    <h1>
      Reliance Engineering Group
    </h1>
  </div>
  <div class="ticker">
    <marquee >
  <span>Quality Management System addresses the technical & functional requirements to achieve set objectives </span>
  </marquee>
  </div>


  <div class="card-title">
    <h1>Quality Policy</h1>
    <div class="title-underline"></div>
  </div>

  <div class="card-body d-flex flex-column gap-3">

      <div class="card-para text-start">
        Reliance Engineering Group is committed to provide superior and value engineering solutions with ample opprotunities for skill & career enhancement.
      </div>



      <div class="card-para text-start">
        Quality Management System addresses the technical & functional requirements to achieve set objectives with continual improvement and innovation. Adopt emerging rechnologies to enhance quality services, perform first time right basis for customer satisfaction.
      </div>
  <div class="reg-role">
    <h6>Atul Lande</h6>
    <span>Head-Reliance Engineering Group</span>
  </div>
  </div>
  </div>


