.main-heading{
    margin-top: 40px;
}

.opening-text{
    font-family: JioType Var;
    font-size: 20px;
    font-weight: 500;
    color: #FFFFFF;
}
.main-text{
    font-family: JioType Var;
    font-size: 59px;
    font-weight: 700;
    color: #DEAA62;
}
.Marquee{
    width: 793px;
    height: 56px;
    background-color: #3045C1;
    border: 1px solid #3F53CE;
}

.Marquee-p{
    font-family: JioType Var;
    font-size: 16px;
    font-weight: 400;
    color: #F7C763;
    margin-top: 15px;
}

.quality-text{
    font-family: JioType Var;
    font-weight: 500;
    color: #FFFFFF;
}

h4{
    font-family: JioType Var;
    font-size: 22px;
    font-weight: 500;
    color: #FFFFFF;
}

h5{
    font-family: JioType Var;
    font-size: 17px;
    font-weight: 700;
    color: #E0A86C;
}

.bottom-text{
    font-family: JioType Var;
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
}

