<section>
    <aside>
       <div class="main-heading">
        <p class="opening-text">Welcome to </p><h1 class="main-text">Reliance Engineering Group</h1> 
      </div>
      <div class="Marquee">
        <marquee behavior="" direction="Left" class="Marquee-p">
          Quality Management System addresses the technical & functional requirements to achieve set objectives     Quality Management System addresses the technical & functional requirements to achieve set objectives 
        </marquee>
      </div>
      <div>
        <h4>Quality Policy</h4>
        <p class="quality-text">
          Reliance Engineering Group is committed to provide superior and value engineering solutions with ample
          opportunities for skill & career enhancement.
        </p>
        <p class="quality-text">
          Quality Management System addresses the technical & functional requirements to achieve set objectives with continual improvement and innovation.Adopt emerging technologies to enhance quality services, perform on a first-time-right basis for customer satisfaction.   
        </p>
      </div>
      <div>
        <h5>Atul Lande</h5>
        <p class="bottom-text">Head-Reliance Engineering Group</p>
      </div>
    </aside>
</section>
  