.item-head{
    color: #444444;
    font-family: 'JioType';
  font-size: 13px;
  font-weight: 500;
  line-height: 13px;
  text-align: left;
  padding: 15px;
  }

.icon-bg{
  padding: 8px;
  border-radius: 6px;
}

.accordion-item{
  border: none;
  border-radius: 6px;
  background-color: #cfe2ff;
  margin-bottom: 10px;
}

.accordion-button{
  border-radius: 6px;
}

.accordion-body{
  padding-top: 2px;
}

.left-panel{
  // width: 290px;
  background-color:  #FFFFFF;
  padding: 20px 15px;
  border-radius: 8px;

}
