<div class="contact-section ">
<div >
<div class="email row">
  <div class="row gap-2 align-items-center">
   <div class="col text-center text-md-start">
    <h6>Email us</h6>
    <p>info&#64;reg.ril.com</p>
  </div>
  <div class="col d-flex justify-content-center justify-content-md-end">
    <img src="../../assets/imgs/email-us.png" />

  </div>



</div>
</div>
<div class="call row">
  <div class="row gap-2 align-items-center">
   <div class="col text-center text-md-start">
    <h6>Call us</h6>
    <span>9890 123456</span>
  </div>
  <div class="col d-flex justify-content-center justify-content-md-end">
    <img src="../../assets/imgs/call-us.png" />

  </div>
  </div>
</div>
</div>
</div>
