
<div class="main-page">
  <app-navbar></app-navbar>
  <div class="container">

  <div class="row">
    <div class="col-lg-3">
  <app-left-panel></app-left-panel>
  <app-contact></app-contact>
  </div>
  <div class="col-lg-9 d-flex flex-column gap-4">

    <div class="row">
    <app-hero></app-hero>
  </div>
  <div class="row">  <div class="col-8">

    <app-mission-statement></app-mission-statement>
    </div>
    <div class="col-4">
    <app-upcoming-events></app-upcoming-events>
  </div>
  </div>
  <div class="row">
    <div class="col-4">
      <app-calendar></app-calendar>
    </div>
    <div class="col-8">
      <app-news-events></app-news-events>
    </div>


  </div>


  </div>
  </div>

  <router-outlet />
  </div>

  <app-footer></app-footer>
  </div>
